<div>
    <div class="col-md-12">
        <p> Add new Server Or blue print</p>
        <label>Server name:</label>
        <input type="text" class="form-control" [(ngModel)]="newServerName">
        <label>Server content:</label>
        <input type="text" class="form-control" [(ngModel)]="newServerContent">
    </div>
    <div>
        <button  class="btn btn-primary" (click)="onAddServer()">
            Add server
        </button>
        &nbsp;
        <button  class="btn btn-primary" (click)="onAddBluePrint()">
            Add blue print
        </button>
    
    </div>
</div>
